*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.sidebar{
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: white;
}

.sidebar img{
    height: 14px;
    width: 128px;
    margin-left: 2rem;
    margin-top: 2rem;
}
.sidebar-user-account{
    padding: 10px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    color: black;
    background: #F7F7FA;
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 5px;
}

.sidebar-user-account h1:first-child{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.sidebar-user-account h1:last-child{
    font-size: 14px;
}

.sidebar-menu{
    position: fixed;
    top: 25%;
}


.sidebar-menu li{
    width: 100%;
    margin-bottom: 1.3rem;
    padding-left: 2rem;
    color: black;
    font-family: 'Nunito Sans', sans-serif;
}

.sidebar-menu a{
    display: block;
    font-size: 1.1rem;
}

.sidebar-menu a span{
    padding-left: 1rem;
}

.logout{
    display: block;
    font-size: 1.1rem;
    color: black;
    position: fixed;
    bottom: 10%;
    font-family: 'Nunito Sans', sans-serif;
    width: 200px;
    text-align: center;
}
.logout span{
    padding-left: 1rem;
}

