.Checkout_Container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F4F4;
}

.Information_Contianer{
    width: 775px;
}

.Information_Title{
    display: flex;
}

.Information_Title h1{
    display: flex;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 19px;
}

.Information_Title h1:first-child{
    border: 1px solid black;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.Your_Email{
    padding: 40px 88px;
    background-color: white;
    margin-bottom: 10px;
}
.Your_Email p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
}

/*-------------------------------------------------------*/
.Shipping{
    padding: 40px 88px;
    background-color: white;
    margin-bottom: 10px;
}
.Shipping form{
    padding: 40px 88px;
    width: 100%;
}
.Shipping form input{
    width: 100%;
    padding: 26px 15px 10px;
    background-color: #F5F4F4;
    border: none;
    margin-bottom: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    border-radius: 5px;
}

.Shipping form input[type="submit"]{
    background-color: black;
    color: white;
    padding: 15px 0px;
}

.Shipping_Option{
    width: 100%;
    border-top: 1px solid black ;
}
.Shipping_Option h2{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    margin-top: 12px;
}
.Shipping_Option form{
    padding: 20px 0px;
    width: 100%;
}
.Shipping_Option form{
    width: 100%;
}
.Shipping_Option p{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
}
.Shipping-Title {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}
.Shipping-Title input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.Shipping_Title_Container{
    width: 500px;
    display: flex;
    justify-content: space-between;
}
.Shipping_Title_Container p{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
}
/*-------------------------------------------------------*/
.Payment_Option{
    width: 100%;
}
.Payment_Option h2{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin: 10px 0px;
}

.Payment_Option form input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.payment-img sgv{
    width: 38px;
    height: 24px;
}

.Payment_Option input[type="submit"]{
    background-color: black;
    color: white;
    padding: 15px 0px;
    width: 100%;
}

